<div class="mdl-grid grid-content dashboard">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card upcoming-games-schedule">
            <div class="mdl-card__title">
                <i class="material-icons">schedule</i>
                <span>Upcoming Games</span>
            </div>
            <div class="game-stream">
                <app-upcoming-games></app-upcoming-games>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-card photos-slideshow">
            <div class="mdl-card__title">
                <i class="material-icons">photo</i>
                <span>Photos</span>
            </div>
            <div class="slide-show">
                <app-slideshow></app-slideshow>
            </div>
        </div>
        <div class="mdl-card news-card">
            <div class="mdl-card__title">
                <i class="material-icons">library_books</i>
                <span>News</span>
            </div>
        </div>
    </div>
</div>